.category-input {
  border-radius: 1rem;
  border: 2px solid #e2e8f0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #000;
  }

  &.selected {
    border-color: #000;
  }
}
