@import '/app/styles/variables';

.container {
  max-width: 2520px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.25rem; /* 4/16 */
  padding-right: 0.25rem; /* 4/16 */

  @media screen and (min-width: $breakpoint-sm) {
    padding-left: 0.125rem; /* 2/16 */
    padding-right: 0.125rem; /* 2/16 */
  }

  @media screen and (min-width: $breakpoint-md) {
    padding-left: 0.625rem; /* 10/16 */
    padding-right: 0.625rem; /* 10/16 */
  }

  @media screen and (min-width: $breakpoint-xl) {
    padding-left: 1.25rem; /* 20/16 */
    padding-right: 1.25rem; /* 20/16 */
  }
}
