.rent-modal__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-context {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    max-height: 50vh;
    overflow-y: auto;
  }

  &-location {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .rent-modal__body {
    &-context {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
