@import './fonts/fonts';
@import './variables';

html,
body,
#root {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  font-size: $font-size-base;
  color: $color-black-600;
  font-family: $font-family-primary;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

hr {
  border: 1px solid $color-black-100;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.box {
  padding-bottom: 20px;
  padding-top: 28px;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}
