.trips-client {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 32px;
}

@media (min-width: 640px) {
  .trips-client {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .trips-client {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .trips-client {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .trips-client {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .trips-client {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
