.image-upload {
  position: relative;
  cursor: pointer;
  transition: opacity 0.2s;
  border-style: dashed;
  border-width: 2px;
  padding: 150px;
  border-color: #cbd5e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #718096;

  &:hover {
    opacity: 0.7;
  }

  &__btn {
    font-weight: 600;
    font-size: 1.125rem;

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
