.search {
  width: 100%;
  padding: 8px;
  border-radius: 9999px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  transition: box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-place-btn {
    font-size: 14px;
    font-weight: 600;
    padding-left: 24px;
    padding-right: 24px;
  }

  &-time-btn {
    display: none;
    font-size: 14px;
    font-weight: 600;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #000;
    flex: 1;
    text-align: center;
  }

  &-guest-btn-container {
    font-size: 12px;
    padding-left: 24px;
    padding-right: 8px;
    color: #888;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    .search-guest-btn {
      display: none;
    }

    .search-guest-icon {
      display: flex;
      padding: 8px;
      background-color: #f43f5e;
      border-radius: 9999px;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .search {
    width: auto;
  }
}

@media (min-width: 640px) {
  .search {
    &-time-btn {
      display: block;
    }

    &-guest-btn-container {
      .search-guest-btn {
        display: block;
      }
    }
  }
}
