.input {
  width: 100%;
  position: relative;

  .dollar-sign {
    color: #4a5568;
    position: absolute;
    top: 5px;
    left: 2px;
  }

  input {
    display: flex;
    width: 100%;
    padding: 1rem;
    font-weight: 300;
    background-color: #fff;
    border-radius: 0.375rem;
    outline: none;
    transition: all 0.3s;
    border: 1px solid #e2e8f0;

    + label {
      position: absolute;
      font-weight: bold;
      color: #a0a3a6;
      font-size: 1rem;
      transition-duration: 150ms;
      transform: translateY(-2.3rem);
      z-index: 10;
      transform-origin: top left;
      left: 1rem;
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:focus {
      border-color: #000;

      + label {
        transform: scale(0.75) translateY(-4rem);
      }
    }

    &:not(:placeholder-shown) {
      + label {
        transform: scale(0.75) translateY(-4rem);
      }
    }

    &.is-format-price {
      padding-left: 2.25rem;
    }

    &.is-errors {
      border-color: #f56565;

      + label {
        color: #f56565;
      }

      &:focus {
        border-color: #f56565;
      }
    }
  }
}
