.empty-state {
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  .reset-btn {
    margin-top: 16px;
    width: 192px;
  }
}
