.listing-card {
  grid-column: span 1;
  cursor: pointer;
  gap: 5px;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.75rem;
    aspect-ratio: 1/1;

    &-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    .listing-card__container {
      &-img {
        transform: scale(1.1);
        transition-duration: 0.3s;
      }
    }
  }

  .region {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .date {
    font-weight: 300;
    color: #6b7280;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 4px;

    &-wrapper {
      font-weight: 500;
    }

    .night {
      font-weight: 300;
    }
  }
}
