.menu-item {
  padding: 0.75rem 1rem;
  font-weight: 600; // Use font-weight instead of font-semibold

  &:hover {
    background-color: #f7fafc; // Use hex or rgb values
    transition: background-color 0.2s ease-in-out;
  }
}
