.listing-head {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  border-radius: 0.75rem;
  position: relative;

  .image {
    width: 100%;
    object-fit: cover;
  }

  .heart-btn {
    position: absolute;
  }
}
