.button-component {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  background-color: #ec407a;
  border: 2px solid #ec407a;
  color: #fff;
  padding: 16px 0;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.outlined {
    background-color: #fff;
    border-color: #000;
    color: #000;
  }

  &.small {
    padding: 8px 0;
    font-size: 0.875rem;
    border-width: 1px;
    font-weight: 400;
  }

  .icon-component {
    position: absolute;
    left: 12px;
    top: 14px;
  }
}
