.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-header__wrapper {
    display: flex;
    flex-direction: column;

    &-title {
      font-weight: 500;
    }

    &-subtitle {
      font-weight: 300;
      color: #718096;
    }
  }

  &-controller {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__item {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: 1px solid #cbd5e0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #718096;
      cursor: pointer;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.8;
      }

      &-value {
        font-weight: 300;
        color: #718096;
      }
    }
  }
}
