.listing-info {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-container {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .counts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
    color: #7b8794;
  }

  &-description {
    font-size: 1.125rem;
    color: #9ca3af;
    font-weight: 300;
  }
}
