@font-face {
  font-family: 'Euclid Circular A';
  src: url('EuclidCircularA-Regular-WebS.woff2') format('woff2'),
    url('EuclidCircularA-Regular-WebS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('EuclidCircularA-Medium-WebS.woff2') format('woff2'),
    url('EuclidCircularA-Medium-WebS.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url('Gilroy-Bold.woff2') format('woff2'), url('Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
