.country-select {
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

    span {
      color: #485263;
      margin-left: 0.25rem;
    }
  }

  .control {
    padding: 0.75rem;
    border-width: 2px;
  }

  .input {
    font-size: 1.125rem;
  }

  .option {
    font-size: 1.125rem;
  }
}
