.category-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Adjust the value to achieve the desired gap size */
  padding: 0.75rem; /* Adjust the value to achieve the desired padding size */
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: #a0aec0;
  transition: color 0.3s ease;

  &:hover {
    color: #2d3748;
  }

  &.selected {
    border-color: #2d3748;
    color: #2d3748;
  }

  &-label {
    font-weight: 500;
    font-size: 0.875rem;
  }
}
