.register-modal {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 16px;
      font-weight: 500;
      color: #7b8794;

      .login-btn {
        cursor: pointer;
        color: #2d3748;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
