.listing-client {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .listing-info {
      &-wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2.5rem;
        margin-top: 1.5rem;
      }

      &-reservation {
        grid-column: span 3;
      }
    }
  }
}
@media (min-width: 768px) {
  .listing-client {
    &-container {
      .listing-info-wrapper {
        grid-template-columns: repeat(7, minmax(0, 1fr));
      }
    }
  }
}
