.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  outline: none;
  background-color: rgb(36 42 49 / 70%);

  &-container {
    position: relative;

    .context {
      transform: translateY(100%);
      opacity: 0;
      transition-duration: 0.35s;
      transition-timing-function: ease-in-out;

      &.active {
        transform: translateY(0%);
        opacity: 1;
      }

      &-container {
        height: 100%;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 20%);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        outline: none;

        &:focus {
          outline: none;
        }

        .header {
          display: flex;
          align-items: center;
          padding: 1.5rem;
          border-bottom: 1px solid #e5e7eb;
          border-radius: 0.375rem;
          justify-content: center;
          position: relative;

          button {
            padding: 4px;
            border: none;
            position: absolute;
            left: 32px;
            cursor: pointer;
            display: flex;

            &:hover {
              opacity: 0.7;
              transition: opacity 0.2s;
            }
          }

          &-title {
            font-size: 1.25rem;
            font-weight: 600;
          }
        }

        .body {
          position: relative;
          padding: 24px;
          flex: auto;
        }

        .footer {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 24px;

          &-container {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .modal {
    &-container {
      width: 66.6667%;
      height: auto;

      .context {
        &-container {
          height: auto;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .modal {
    &-container {
      width: 50%;
      height: auto;
    }
  }
}
@media (min-width: 1280px) {
  .modal {
    &-container {
      width: 40%;
    }
  }
}
