.heart-button {
  position: relative;
  transition: opacity 0.2s;
  cursor: pointer;

  svg {
    position: absolute;
  }

  .heart-icon-empty {
    top: 20px;
    right: 20px;
    fill: #fff;
  }

  .heart-icon-filled {
    fill: #676e78;
    top: 22px;
    right: 22px;

    &.favorite {
      fill: #f43f5e;
    }
  }
}
