.user-menu {
  position: relative;

  &-container {
    display: flex;
    align-items: center;
    gap: 3px;

    .btn {
      display: none;
      font-size: 12px;
      font-weight: 600;
      padding: 12px 16px;
      border-radius: 9999px;
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #f0f4f8;
      }
    }

    .btn-icon-menu {
      padding: 16px;
      border: 1px solid #e2e8f0;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 12px;
      border-radius: 9999px;
      transition: box-shadow 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 24%);
      }

      .btn-icon-avatar {
        display: none;
      }
    }
  }

  .toggle {
    position: absolute;
    border-radius: 0.75rem; // 12px / 16px base font size
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%); // Shadow values are the same in px or rem
    width: 15vw;
    max-width: 960px; // 40% of a 2400px viewport width
    background-color: #fff; // Use hex or rgb values
    overflow: hidden;
    right: 0;
    top: 3rem; // 48px / 16px base font size
    font-size: 0.875rem; // 14px / 16px base font size

    &-container {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .user-menu {
    &-container {
      .btn {
        display: block;
      }

      .btn-icon-menu {
        padding-top: 4px;
        padding-bottom: 4px;

        .btn-icon-avatar {
          display: block;
        }
      }
    }
  }
}
