@import '/app/styles/variables';

.navbar {
  width: 100%;
  background-color: $color-white;
  z-index: 10;

  .wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(0 0 0 / 5%);

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;
    }
  }
}

@media (min-width: 768px) {
  .row {
    gap: 0;
  }
}
