.listing-reservation {
  background-color: #fff;
  border-radius: 0.75rem;
  border: 1px solid #e2e8f0;
  overflow: hidden;

  &-price {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px;

    .price {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .night {
      font-weight: 300;
      color: #718096;
    }
  }

  .total-price {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      font-weight: 600;
      font-size: 1.125rem;
    }
  }
}
