.listing-category {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-container {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon {
      color: #718096;
    }

    .info {
      display: flex;
      flex-direction: column;

      .label {
        font-size: 1.125rem;
        font-weight: 600;
      }

      .description {
        color: #9ca3af;
        font-weight: 300;
      }
    }
  }
}
